<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="static/styles/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gudea&display=swap" rel="stylesheet">
  </head>
  <body>
    <i class="material-icons arrow">arrow_drop_down_circle</i>
    <script src="static/styles/script.js"></script>
    <img id="smallLogo" src="static/assets/logo.png" alt="See Safe Small Logo">
    <img id="bigLogo" src="static/assets/SEE SAFE.png" alt="See Safe Big  Logo" width="750" height="500">
    <p id="motto">a simple business & people oriented tracker.</p>
    <div class = "business1">
    <a href="inputbusiness">
    <i class="material-icons business">shopping_cart</i></a>
    <p id="businessOption">business</p></div>
    <div class = "person1">
    <i class="material-icons person">person</i>
    <p id="humanOption">human</p></div>
    <div class="rectangle1"></div>
    <div class="rectangle2"></div>
    <div class="rectangle3"></div>
    <div class="rectangle4"></div>
    <div class="rectangle5"></div>
  </body>
</html>