/* FOR SOME REASON DOESNT READ */

/* general background */
body {
  /* background-color: #F8F8F7; */
  background-color: black
}
/* SEE SAFE HEADER/big logo */
#bigLogo{
  position: absolute;
  left: 100px;
  top: 50px;
}

/* logo */
#smallLogo {
  position: absolute;
  width: 115px;
  height: 118px;
  left: 26px;
  top: 28px;
  background: url(logo.png);
}
.businessrec{
  position: absolute;
width: 190px;
height: 64px;
left: 426px;
top: 64px;

background: rgba(187, 140, 116, 0.3);

}
.businessrec1{
position: absolute;
width: 124px;
height: 34px;
left: 459px;
top: 79px;

font-family: Gudea;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
/* identical to box height */

text-align: center;

color: #2B3453;
}
.grad{
  position: absolute;
width: 1440px;
height: 229px;
left: 0px;
top: 199px;

}
.gradtext{
position: absolute;
width: 393px;
height: 95px;
left: 520px;
top: 290px;

font-family: Gudea;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 62px;
text-align: center;

color: #F8F8F7;
}
.gradparagraph{
  position: absolute;
width: 1066px;
height: 139px;
left: 171px;
top: 483px;

font-family: Gudea;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #2B3453;

}

/* textfield */
.textfield{
   position: absolute;
width: 1066px;
height: 139px;
left: 500px;
top: 600px;
}
.submit{
     position: absolute;
width: 1066px;
height: 139px;
left: 850px;
top: 620px;
}